/* Head----------------------- */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
.flex
{
    display: flex;
    flex-wrap: wrap;
}
header
{
    color:#0139a6;
    border-top:3px solid #0139a6;
}
header div.left
{
    flex:1;
}
header div.right
{
    flex:5;
    padding-left: 3rem;
}
header div.right h1, header div.right h2
{
    margin:1rem 0;
}
header img
{
    width: 100%;
}

/* headerAfer----------------- */

ul.headerAfter
{
    list-style: none;
    padding: 0;
    font-size: 10px;
    margin:0  auto;
    justify-content: flex-end;
}
ul.headerAfter img
{
    width: auto;
    height: 12px;
    display: block;
    margin: 0;
    padding: 0;
}
ul.headerAfter input
{
    width: 6rem;
    font-size: 10px;
    margin-top:1px;
    border-color: #214ea9;
    border-radius: 0.4rem;
}

ul.headerAfter li a
{
    display: block;
    padding: 4px;
    border-right: 0.04rem solid #0139a6;
    text-decoration: none;
    color: #0139a6;

}
ul.headerAfter li:nth-child(4) a, ul.headerAfter li:last-child a
{
    border-right: none;
}
/* nav */

ul.navi
{
    margin:0;
    padding: 0;
    list-style: none;
    background-color: #0139a6;
    justify-content: space-around;
    z-index: 999;
}
ul.navi li a:hover
{
    background-color: #032d83;
}
ul.navi li a
{
    display: block;
    padding:0.4rem;
    color:white;
    
}
ul.navi li:hover  ul.introduce
{
    display: block;
}
.sticky
{
    position: sticky;
    top:0;
    left: 0;

}
ul.introduce
{
    list-style: none;
    margin: 0;
    padding:0;
    width: 180px;
    position: absolute;
    background-color: #0139a6;
    display: none;
}
ul.introduce li
{
    border-top: 0.02rem solid white;
}
ul.introduce li a
{
    padding: 0.3rem 0.5rem;
    font-size: smaller;
}
/* section---------------------------------- */
.LogoS{
    display: flex;
    width: 90%;
    margin: 2rem auto ;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo > div > img{
    width: 200px;
}
.logo > div{
    margin-left:40px ;
    padding: 20px;
}
.Menu{
    margin-left: 55px;

}
.Menu > h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-top: 5rem;
    color: #0139a6;
   border-bottom: 2px solid blue;
    border-bottom-width: 20%;
}

/* Mobile-- */

















/* footer--------------------------------- */
.flexs{
    margin: 0;
    padding: 10px;
    background-color:#0139a6;
    display: flex;
    justify-content: center;
}
.flexx{
    width: 25%;
    margin: 30px;
}
.flexx > a {
    text-decoration: none;
    font-size: 15px;
    width: 25%;
}
.element >p{
    padding: 10px;
}
div.element > p > a {
    text-decoration: none;
    font-size: 1.5vw;
}
.address > p{
    font-size: 1vw;
}
.logo{
    flex-direction: row;
}
.logo>img{
    width: 250px;
}
.icon {
    display: flex
}
.icon > p> a > img{
    width: 60px;
    padding: 10px;
}
/* header điện thoại---------------------------------------------- */
@media all and (max-width:400px)
{
    ul.flex
    {
        flex-direction: column;
    }
    header div.right
    {
        display: none;
    }
    ul.headerAfter
    {
        display: flex;
        flex-direction: row;
    }

    .hiddens
    {
        display: none;
        width: 100%;
        height: 8vw;
        position: inherit;
    }
    ul.introduce
    {
        width: 100%;
    }
    .navi:hover li.hiddens
    {
        display: block;
    }
}
/* ----------------------------------------------------- */
/* tablet */
@media all and (max-width:728px){
    .icon > p > a > img{
        width: 65px;
    }
    .logo{
        position: relative;
        left: 25%;
    }
    .element{
        list-style: none;
    }
    .element > p{
        font-size: 3vw;
        width: 80vw;
    }
    div.element > p > a{
        font-size: 8vw;
        
    }
    .flexs{
        flex-direction: column;
    }
    .flexx {
        padding: 0;
        margin: 0;
    }
    .flexx > h2{
        width: 90vw;
    }    
}
/* mobile */
@media all and (max-width:400px){
    .Menu > h1{
        width: 80%;
        text-align: center;
        font-size: 1.5rem;
        color: #0139a6;
        border-bottom: 2px solid blue;
        margin: 5rem auto;
    }
    .icon > p > a > img{
        width: 65px;
    }
    .logo{
        position: relative;
        left: 5%;
        
    }
    .element{
        list-style: none;
    }
    .element > p{
        font-size: 3vw;
        width: 80vw;
    }
    div.element > p > a{
        font-size: 8vw;
        
    }
    .flexs{
        flex-direction: column;
    }
    .flexx {
        padding: 0;
        margin: 0;
    }
    .flexx > h2{
        width: 90vw;
    }    
    
}
footer *{
    color: #efffff;
}